@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #41BCFF;
}
canvas {
  display: block;
  margin: 0 auto;
}
